body {
    background-image: url('../IMAGES/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


.test {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backdrop-filter: blur(4px);
    /*background-color: rgba(0, 0, 0, 0.5);*/
    z-index: 30;
    height: 90%;
    width: 40%;
}


.active1,
.hoverLink:hover,
.dropdownSelect:hover {
    background-color: lightblue;
    border-radius: 10px;
}

.nav-link {
    border-radius: 10px;
}

#navboot {
    background-color: white;
    opacity: 85%;
    z-index: 1;
}

.section1 {
    position: relative;
    top: 55px;
}

#testh {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
}



.profile-button {
    border: none
}

.profile-button:active,
.profile-button:focus,
.profile-button,
.form-control:focus {
    box-shadow: none
}

.back:hover {
    cursor: pointer
}

.labels {
    font-size: 14px
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}