body {
    background-image: url('../IMAGES/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


.active1,
.hoverLink:hover,
.dropdownSelect:hover {
    background-color: lightblue;
    border-radius: 10px;
}

.nav-link {
    border-radius: 10px;
}

#navboot {
    background-color: white;
    opacity: 85%;
    z-index: 1;
}

.section1 {
    position: relative;
    top: 55px;
}

#testh {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
}



.profile-button {
    border: none
}

.profile-button:active,
.profile-button:focus,
.profile-button,
.form-control:focus {
    box-shadow: none
}

.back:hover {
    cursor: pointer
}

.labels {
    font-size: 14px
}