body {
    background-image: url('../IMAGES/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


.active1,
.hoverLink:hover,
.dropdownSelect:hover,
.active:hover {
    font-weight: bold;
}

.nav-link {
    border-radius: 10px;
}

#navboot {
    background-color: white;
    z-index: 1;
}

.section1 {
    position: relative;
    top: 85px;
}

#testh {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
}



.profile-button {
    border: none
}

.profile-button:active,
.profile-button:focus,
.profile-button,
.form-control:focus {
    box-shadow: none
}

.back:hover {
    cursor: pointer
}

.labels {
    font-size: 14px
}

@media (min-width: 1200px) {
    .responsive-font-example {
        font-size: 50px;
    }
}

@media (max-width: 1199.98px) {
    .responsive-font-example {
        font-size: 20px;
    }
}


.form-check-input:checked {
    background-color: #17a2b8;
    border-color: #17a2b8;
}





.container2 {
    position: relative;
    width: 150px;
}

.overlayImgBtn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .7s ease;
    background-color: #17a2b8;
}

.container2:hover .overlayImgBtn {
    opacity: 1;
}

.textImgBtn,
.textImgRemovePic {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* text-align: center; */
}

.textImgBtn {
    color: white;
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 25px;
}

.textImgRemovePic {
    color: red;
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 25px;
}

#ProfileImg,
.overlayImgBtn {
    width: 158px;
    height: 152px;
    object-fit: cover;
}

.UsersAdminImg {
    width: 70%;
    height: 70%;
}